html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: rgb(33, 29, 34);
}

* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

.top-part {
    height: 950px;
    width: 100%;
    border-radius: 38px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(140% 107.13% at 50% 10%,transparent 37.41%,rgb(21, 66, 247) 69.27%,#fff 100%);
    background-repeat: no-repeat;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #babcd2;
    font-size: 55px;
}

.top-part h1 {
    animation: fade 1s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top-part p {
    position: relative;
    top: 12px;
    font-family: 'Rubik', sans-serif;
    color: #babcd2;
}

.navigation {
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    user-select: none;
}

.navigation h2 {
    font-size: 2em;
    color: #fff;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

.action-buttons {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navigation .login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .login:hover {
    background: #fff;
    color: #162938;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about {
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    padding: 2rem;
    padding-top: 0;
    padding-right: 2rem;
    height: 50vh;
    border: #58629b 2px;
    box-shadow: 0 0 20px 5px #adb1b3;
    border-radius: 30px;
}

.about h2 {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    color: #babcd2;
}

.about p {
    color: #babcd2;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    width: auto;
    width: 50%;
    line-height: 30px;
    margin-bottom: 10px;
}

.about .leagues ul li {
    position: relative;
    right: 120%;
    top: 0;
    display: flex;
    width: 150px;
    height: 150px;
    user-select: none;
    margin: 50px;
    padding-top: 0;
}

.about .leagues ul li img {
    margin: 5px;
    padding: 30px;
    height: 200px;
}

.second {
    padding: 20px;
}

.main-box {
    height: 1100px;
    width: 100%;
    top: 100px;
    padding: 50px;
    border-radius: 38px;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: rgb(127, 117, 117) 3px solid;
    box-shadow: 0 0 50px 15px #48abe0;
    flex-direction: column;
    gap: 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: lightblue;
    opacity: 0.7;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

.main-box .semi-box .player-box {
    display: flex;
    align-self: flex-start;
    position: relative;
}

.main-box .semi-box .player-box div {
    width: 250px;
    height: 370px;
    margin: 35px;
    border-radius: 5%;
    border: rgb(160, 172, 194) 3px solid;
    box-shadow: 0 0 20px 5px #ada5a9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box .semi-box .player-box div h2 {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #babcd2;
}

.main-box .semi-box .player-box div img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: block; /* remove extra space below image */
}

.league-box {
    display: flex;
    align-self: center;
    position: relative;
}

.league-box ul li {
    width: 15vw;
    height: 20vh;
    margin: 35px;
    padding-top: 20px;
    border-radius: 5%;
    border: rgb(160, 172, 194) 3px solid;
    box-shadow: 0 0 20px 1px #48e075;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;  
}

.league-box ul li img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: block;
}

.league-box ul li h2 {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #babcd2;
}

.main-player-box {
    height: 1100px;
    width: 100%;
    top: 100px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: rgb(127, 117, 117) 3px solid;
    box-shadow: 0 0 20px 1px #9809c8;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    column-gap: 100px;
}

.info-1 {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.info-1 img {
    height: 100px;
    width: 100px;
}

.player-pic {
    width: 40vw;
    height: 65vh;
    padding: 0;
    /* border: #162938 3px solid; */
    box-shadow: 0 0 8px 1px #1b77ac;
}

.player-pic img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info-2 {
    width: auto;
    height: 1px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 40px;
    left: -30px;
}

.info-2 span {
    color: antiquewhite;
}

.info-2 i {
    position: relative;
    left: 10px;
}

.info-2 h3 {
    font-family: 'Inter', sans-serif;
    margin: 2px;
}

.main-text h2 {
    font-family: 'Montserrat', sans-serif;
    color: #babcd2;
    font-size: 40px;
}

.login-body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#1145a4, #243b55);
}

.signup-body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#6211a4, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    font-family: 'Inter', sans-serif;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .input-field {
    position: relative;
}

.login-box .input-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .input-field label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .input-field input:focus ~ label,
.login-box .input-field input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.login-box .submit-button {
    display: flex;
    justify-content: center;
}

.login-box .submit-button input {
    width:50%;
    background-color: #1145a4;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}

.remember-me {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.text-auth {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #fff;
}

.notification {
    margin: 0 0 30px;
    padding: 0;
    height: 50px;
    color: red;
}

.notification a{
    text-decoration: underline;
    color: inherit;
}

#profile{
    background: linear-gradient(#152695, #7420a9);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box h1 {
    font-family: 'Inter', sans-serif;
    color: #fff;
}


.box h2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #fff;
}