<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <title>Football Stats</title>
</head>
<body>
    <header class="navigation">
        <h2>Football-Stats</h2>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/#about">About</a>
            
            {% if current_user.isAdmin == True %}
            <a href="/admin">Admin</a>
            {% endif %}

            <a href="/select">Search</a>
            
            {% if current_user.is_authenticated %}
            <button class="login" onclick="window.location.href='/profile'">Profile</button>
            {% endif %}

            {% if not current_user.is_authenticated %}
            <button class="login" onclick="window.location.href='/login'">Login</button>
            {% endif %}
        </nav>
    </header>
    
    <div class="box" id="box">
        <h1>Change User Credentials</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}

        <form method="post" class="input-form">
            <div class="inputs">
                <div class="input-field">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                
                <div class="input-field">
                    <input type="text" name="password">
                    <label>Password</label>
                </div>

                <div class="input-field">
                    <input type="text" name="location">
                    <label>location</label>
                </div>

                <div class="input-field">
                    <input type="text" name="photo">
                    <label>Photo URL</label>
                </div>

                <div class="input-field">
                    <input type="text" name="admin">
                    <label>Admin (True/False)</label>
                </div>
            </div>

            <div class="submit-button">
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>
</body>
</html>