<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/609b7febcb.js" crossorigin="anonymous"></script>
    <title>Football Stats</title>
</head>
<body>
    <header class="navigation">
        <h2>Football-Stats</h2>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/#about">About</a>
            <!-- <a href="#">Service</a> -->
            <a href="/select">Search</a>
            <button class="login">Login</button>
        </nav>
    </header>

    <div class="main-player-box">
            <div class="info-1">
                <img src="{{team.team_logo}}"/><h1>{{player.player_name}}</h1><img src="{{team.team_logo}}"/>
            </div>
        <div class="wrapper">
            <div class="player-pic">
                <img src="{{player.player_photo}}" alt="Player Image"/>
            </div>
            <div class="info-2">
                <h3 style="color: wheat;">Age: <span>{{player.player_age}}</span><i class="fa-solid fa-bandage" style="color: wheat;"></i></h3>
                <h3 style="color: green;">Height: <span>{{player.player_height}}</span><i class="fa-solid fa-up-down" style="color: green;"></i></h3>
                <h3 style="color: dimgray;">Weight: <span>{{player.player_weight}}</span><i class="fa-solid fa-weight-hanging" style="color: dimgray;"></i></h3>
                <h3 style="color: chocolate;">Position: <span>{{player.player_position}}</span><i class="fa-solid fa-map-location-dot" style="color: chocolate;"></i></h3>
                <h3 style="color: blue;">Nationality: <span>{{player.player_nationality}}</span><i class="fa-solid fa-globe" style="color: blue;"></i></h3>
                <h3 style="color: fuchsia;">Team: <span>{{team.team_name}}</span><i class="fa-solid fa-people-group" style="color: fuchsia;"></i></h3>
                <h3 style="color: gold;">Appearances: <span>{{player.player_appearances}}</span><i class="fa-solid fa-star" style="color: gold;"></i></h3>
                <h3 style="color: aquamarine;">Goals: <span>{{player.player_goals}}</span><i class="fa fa-soccer-ball-o" style="color: aquamarine;"></i></h3>
                {% if player.player_position != 'Goalkeeper' %}
                    <h3 style="color:chartreuse;">Penalty Accuracy: <span>{{player.player_pen_accuracy}}</span><i class="fa-solid fa-circle-dot" style="color: chartreuse;"></i></h3>
                {% endif %}
                <h3 style="color: purple;">Assists: <span>{{player.player_assists}}</span><i class="fa-solid fa-handshake-angle" style="color: purple;"></i></h3>
                <h3 style="color: yellow;">Yellow Cards: <span>{{player.player_yellows}}</span><i class="fa-solid fa-circle-exclamation" style="color: yellow;"></i></h3>
                <h3 style="color: red;">Red Cards: <span>{{player.player_reds}}</span><i class="fa-solid fa-triangle-exclamation" style="color: red;"></i></h3>
                {% if player.player_position == 'Goalkeeper' %}
                    <h3 style="color: rgb(111, 164, 35);">Goals Conceded: <span>{{player.player_conceded}}</span><i class="fa-solid fa-x" style="color: rgb(111, 164, 35);"></i></h3>
                    <h3 style="color:rgb(255, 0, 119);">Saves: <span>{{player.player_saves}}</span><i class="fa-solid fa-mitten" style="color: rgb(255, 0, 119);"></i></h3>
                    <h3 style="color: rgb(185, 202, 34);">Penalty Saves: <span>{{player.player_penalty_saves}}</span><i class="fa-solid fa-expand" style="color: rgb(185, 202, 34);"></i></h3>
                {% endif %}
        </div>
    </div>

</body>
</html>