<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <title>Football Stats</title>
</head>
<body id="profile">
    <header class="navigation">
        <h2>Football-Stats</h2>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/#about">About</a>
            
            {% if current_user.isAdmin == True %}
            <a href="/admin">Admin</a>
            {% endif %}

            <a href="/select">Search</a>
            
            {% if current_user.is_authenticated %}
            <button class="login" onclick="window.location.href='/profile'">Profile</button>
            {% endif %}

            {% if not current_user.is_authenticated %}
            <button class="login" onclick="window.location.href='/login'">Login</button>
            {% endif %}
        </nav>
    </header>

    <div class="box" id="box">
        <h1>Welcome, {{ user.username }}</h1>
        <h2>Location: {{ user.location }}</h2>

        {% if user.photo != 'None' %}
        <img src="{{ user.photo }}" alt="User Profile Picture">
        {% else %}
        <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="User Profile Picture">
        {% endif %}
        
        <button class="action-buttons" type="submit" onclick="window.location.href='/set-picture'">Change Your Profile Picture</button>

        <button class="action-buttons" onclick="window.location.href='/logout'">Log out</button>
    </div>
</body>
</html>