<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>Football Stats</title>
</head>
<body class="second">
    <header class="navigation">
        <h2>Football-Stats</h2>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/#about">About</a>
            <!-- <a href="#">Service</a> -->
            <a href="/select">Search</a>
            <button class="login">Login</button>
        </nav>
    </header>

    <div class="main-box">

        <div class="main-text">
            <h1>Search Your Player Now!</h1>
            <h2>{{ league_name }}</h2>
        </div>
        
        <div class="container">
            <form action="" class="search-bar" method="post"> 
                <input type="text" placeholder="Karim Benzema" name="nm" required>
                <button type="submit"><img src="{{ url_for('static', filename='img/search.png') }}" /></button>
            </form>
        </div>

        <div class="semi-box">
            <div class="player-box">
                <a href="{{ url_for('psearch', league_id='307', player_name='Ronaldo') }}"><div id="player-1">
                    <h2>Ronaldo</h2>
                    <img src="{{ url_for('static', filename='img/players/ronaldo.png') }}" alt="Football Player"/>
                </div></a>
                <a href="{{ url_for('psearch', league_id='61', player_name='Mbappe') }}"><div id="player-2">
                    <h2>Kylian Mbappe</h2>
                    <img src="{{ url_for('static', filename='img/players/mbappe.png') }}" alt="Football Player"/>
                </div></a>
                <a href="{{ url_for('psearch', league_id='39', player_name='Haaland') }}"><div>
                    <h2>Haaland</h2>
                    <img src="{{ url_for('static', filename='img/players/Haaland.png') }}" alt="Football Player"/>
                </div></a>
                <a href="{{ url_for('psearch', league_id='78', player_name='Openda') }}"><div>
                    <h2>Loïs Openda</h2>
                    <img src="{{ url_for('static', filename='img/players/openda.png') }}" alt="Football Player"/>
                </div></a>
                <a href="{{ url_for('psearch', league_id='40', player_name='Vardy') }}"><div>
                    <h2>Jamie Vardy</h2>
                    <img src="{{ url_for('static', filename='img/players/vardy.png') }}" alt="Football Player"/>
                </div></a>
                <a href="{{ url_for('psearch', league_id='307', player_name='Mane') }}"><div>
                    <h2>Sadio Mané</h2>
                    <img src="{{ url_for('static', filename='img/players/mane.png') }}" alt="Football Player"/>
                </div></a>
            </div>
        </div>
    </div>
</body>
</html>