<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Montserrat:ital,wght@1,900&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>Football Stats</title>
</head>
<body>
    <header class="navigation">
        <h2>Football-Stats</h2>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/#about">About</a>
            <!-- <a href="#">Service</a> -->
            <a href="/select">Search</a>
            
            {% if current_user.is_authenticated %}
            <button class="login" onclick="window.location.href='/profile'">Profile</button>
            {% endif %}

            {% if not current_user.is_authenticated %}
            <button class="login" onclick="window.location.href='/login'">Login</button>
            {% endif %}
        </nav>
    </header>

    <div class="main-box" style="box-shadow: 0 0 50px 15px #1100ff;">
        <div class="main-text">
            <h1>Select Your Desired League</h1>
        </div>

        <div class="league-box">
            <ul>
                <a href="/search?id=78"><li>
                    <img src="{{ url_for('static', filename='img/leagues/BL.png') }}">
                    <h2>Bundesliga</h2>
                </li></a>
                <a href="/search?id=39"><li>
                    <img src="{{ url_for('static', filename='img/leagues/PL.png') }}">
                    <h2>Premier League</h2>
                </li></a>
            </ul>
            <ul>
                <a href="/search?id=61"><li>
                    <img src="{{ url_for('static', filename='img/leagues/L1.png') }}">
                    <h2>Ligue 1</h2>
                </li></a>
                <a href="/search?id=140"><li>
                    <img src="{{ url_for('static', filename='img/leagues/LL.png') }}">
                    <h2>LaLiga</h2>
                </li></a>
            </ul>
            <ul>
                <a href="/search?id=135"><li>
                    <img src="{{ url_for('static', filename='img/leagues/SAL.png') }}">
                    <h2>Serie A</h2>
                </li></a>
                <a href="/search?id=88"><li>
                    <img src="{{ url_for('static', filename='img/leagues/EL.png') }}">
                    <h2>Eredivisie</h2>
                </li></a>
            </ul>
            <ul>
                <a href="/search?id=383"><li>
                    <img src="{{ url_for('static', filename='img/leagues/LHA.png') }}">
                    <h2>Ligat Ha'al</h2>
                </li></a>
                <a href="/search?id=382"><li>
                    <img src="{{ url_for('static', filename='img/leagues/LLO.png') }}">
                    <h2>Liga Leumit</h2>
                </li></a>
            </ul>
        </div>
    </div>
</body>
</html>